.cont-wrapper{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    .pre-text{
        margin-bottom: 8px;
        color: rgb(124, 124, 124);
        font-size: 12px;
    }

    .values-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .value{
            font-weight: 500;
            font-size: 16px;
            margin-right: 4px;
        }

        .percent{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 6px;
            background-color: rgb(128, 187, 77);
            border-radius: 20px;
            color: white;
            font-size: 10px;

            span{
                margin-left: 2px;
            }
        }
    }

    .sub-text{
        color: rgb(136, 136, 136);
        font-size: 10px;
        font-style: italic;
    }

}


