.main-wrapper{
    width: 100%;

    .search-bar{

    }

    .content{
        .row{
            width: 100%;
            display: flex;
            gap: 1%;
            flex-wrap: wrap;
        }
    }
}

.small-comp{
    width: 100%;
}

.medium-comp{
    width: 100%;
}

.full-comp{
    width: 100%;
}

.small-medium-comp{
    width: 100%;
}

.small-medium-1-comp{
    width: 100%;
}

@media (min-width: 768px) { 
    .small-comp{
        width: 32%;
    }

    .medium-comp{
        width: 49%;
    }

    .full-comp{
        width: 99%;
    }

    .small-medium-comp{
        width: 35%;
    }

    .small-medium-1-comp{
        width: 45%;
    }
}

@media (min-width: 992px) { 
    .small-comp{
        width: 19%;
    }

    .small-medium-1-comp{
        width: 40%;
    }
}

@media (min-width: 1200px) {

}