/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

body{
    background-color: rgb(27, 27, 27);
    font-family: 'Roboto', sans-serif;
}